@import "./common.css";
@import "./header.css";
@import "./footer.css";

.container {
  width: 1440px;
  margin: 0 auto;
}

.bolm-rasm {
  background-color: #a9ae8d;
  text-align: center;
}

.rasm-img {
  width: 1440px;
  height: 435px;
}
.rasm-p {
  margin: 69px 0px 7px 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  font-family: "roboto-light", sans-serif;
  text-transform: uppercase;
  color: #f6f4ec;
}

.rasm-h {
  margin: 7px 0px 14px 0px;
  font-family: "roboto-light", sans-serif;
  font-weight: 400;
  font-size: 33px;
  line-height: 64px;
  color: #f6f4ec;
}

.RASM-B {
  margin: 28px 0px 61px 0px;
  padding: 9px 20px 10px 20px;
  background-color: #b45f4d;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
}

.RASM-B:hover {
  cursor: pointer;
  background-color: white;
  color: #000;
}
.piece {
  font-size: 23px;
  padding: 39px 0px 44px 0px;
  font-family: sans-serif;
  line-height: 39px;
  text-align: center;
  text-transform: capitalize;
  color: #b45f4d;
}

.bottle {
  background-color: #f6f4ec;
  text-align: center;
}

.pretty img  {
  width: 361px;
}

.imp {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #b45f4d;
  text-align: left;
}
.imp2 {
  margin: 3px 0px 16px; 
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align:left;
  color: #b45f4d;
}
.pretty .simble {
    width:66px;
}

.pretty .simble {
    margin:0px 300px 0px 0px;
}
.pretty .simble-1 {
    width:66px;
   
}

.pretty .simble-1{
margin: 0px 0px 0px 300px;
}

.pretty {
    display: inline-block;
    margin: 22px 40px 0;
}


.shamap {
    text-align: center;
    margin: 35px 110px;
    width: 1219px;
    height: 414px;
}

.shamap-text {
    position: relative;
    margin: -180px 30px 86px 0px;
    width: 1219px;
    height: 92px;
    background-color: #df9b7a;
    text-align: center;
}

.ung {

    display: inline-block;
    font-family: "roboto-light", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 90px;
    text-transform: uppercase;
    color: #f6f4ec;
}


.chp {
    display: inline-block;
    margin-left: 550px;
    font-family: "roboto-light", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 90px;
    color: #f6f4ec;
}

.meet {
    background: #f1d3b9;
}

.meet img {
    width: 491px;
    height: 734px;
    margin: 85px 42px 100px 190px;
}

.p-tex {
    float: right;
    margin: 160px 188px 170px 0px;
    padding: 50px 50px;
    display: block;
    width: 520px;
    height: 582px;
    background: #f8f8f8;
}

.prg {
    font-weight: 400;
    font-size: 30px;
    line-height: 58px;
    font-family: "roboto-light", sans-serif;
    color: #b45f4d;
    text-align: center;
}
.prg1 {
    margin: 20px 0px 40px 0px;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    font-family: "roboto-light", sans-serif;
    color: #b45f4d;
}

.link {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: "roboto-light", sans-serif;
    color: #b45f4d;
}

.bsh {
    padding: 35px 0px 0px 0;
    text-align: center;
}

.img-box .a {
    font-weight: 900;
    font-size: 23px;
    line-height: 39px;
    font-family: "roboto-bold", sans-serif;
    color: #000000;
}

.dea img {
    position: relative;
    margin: 10px 4px -125px 4px;
    padding: 0 91px 0;
    height: 46px;
}

.img-box .img {
    margin: 0px 10px 0px 10px;
    height: 130px;
}

.footer {
    background-color:  #f6f4ec;
    text-align: center;
}
.footer-qt {
    display: inline-block;
    margin: 60px 64px 34px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: "roboto-light", sans-serif;
    color: #b45f4d;
}
.right {
    margin-left: 355px;
}
.but {
    padding: 7px 12px 20px 0px;
    margin: 0px;
    width: 500px;
    height: 44px;
    background-color: #f6f4ec;
    border: 2px solid #b5614d;
    color: #b5614d;
    text-transform: uppercase;
    cursor: pointer;
    text-align: right;
}
.last-footer {
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    font-family: "roboto-light", sans-serif;
    color: #c17c6c;
    border-top: 2px solid #b45f4d;
}